body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #03ad77;
  color: white;
  font-family: Lexend, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

button:hover {
  background-color: rgba(3, 173, 119, 0.75);
  cursor: pointer;
}

#mensaje {
  background-color: transparent;
  outline: 1px solid transparent;
  padding: 0.5rem;
  border-radius: 1rem;
  color: white;
  font-family: Lexend, sans-serif;
  margin-top: 0.5rem;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s ease;
  position: fixed;
  top: 75px;
  z-index: 999999;
}

#mensaje.mostrar {
  opacity: 1;
}

#mensaje.exito {
  background-color: rgba(3, 173, 119, 0.781);
  outline: 1px solid rgb(3, 173, 119);
}

#mensaje.error {
  background-color: rgba(168, 15, 15, 0.651);
  outline: 1px solid rgb(201, 18, 18);
}

main {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

#login-form input {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  font-family: Lexend, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

#login-form input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

#register-form input {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  font-family: Lexend, sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

#register-form input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}
